body {
    font-family: Arial, sans-serif;
    background-image: url('skyer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(5px);
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#weather-info {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    color: white;
}

h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}

p {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}

.error-message {
    color: orange;
    font-weight: bold;
    background-color: rgba(255, 165, 0, 0.2); /* Lys oransje bakgrunn */
    padding: 10px;
    border-radius: 5px;
}
